<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1>Team Name: <%= @team_stats[:name] %></h1>
   <h2>Coach: <%= @team_stats[:coach] %></h2>
   <h2>Point Guard: <%= @team_stats[:pg] %></h2>
   <h2>Shooting Guard: <%= @team_stats[:sg] %></h2>
   <h2>Small Forward: <%= @team_stats[:sf] %></h2>
   <h2>Power Forward: <%= @team_stats[:pf] %></h2>
   <h2>Center: <%= @team_stats[:c] %></h2>


 </body>
</html>
